<!DOCTYPE html>
<html lang="en" theme="light dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Square+Peg&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B1B2C6VEPY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B1B2C6VEPY');
</script>
</head>

<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

            <!-- Filter Section -->
            <section id="filters">
                <h2 style="font-family: 'Libre Baskerville', serif; font-size: 26px; color: #C52F21; text-align: center; margin-top: 20px; margin-bottom: 20px;">Find Videos:</h2>

                <form method="get">
                    <!-- Skill Level Filter -->
                    <fieldset>
                        <label for="level">Skill Level:</label>
                        <select id="level" name="level">
                            <% for (const key in options.level) { %>
                            <option value="<%= key %>" <%= params.level === key ? 'selected' : '' %>><%= options.level[key] %></option>
                            <% } %>
                        </select>
                    </fieldset>

                    <!-- Duration Filter -->
                    <fieldset>
                        <label for="duration">Duration:</label>
                        <select id="duration" name="duration">
                            <% for (const key in options.duration) { %>
                            <option value="<%= key %>" <%= params.duration === key ? 'selected' : '' %>><%= options.duration[key] %></option>
                            <% } %>
                        </select>
                    </fieldset>

                    <!-- Target Area Filter -->
                    <fieldset>
                        <label for="targetArea">Target Area:</label>
                        <select id="targetArea" name="targetArea">
                            <% for (const key in options.targetArea) { %>
                            <option value="<%= key %>" <%= params.targetArea === key ? 'selected' : '' %>><%= options.targetArea[key] %></option>
                            <% } %>
                        </select>
                    </fieldset>

                    <!-- Search Button -->
                    <input type="submit" value="Search Videos" />
                </form>
            </section>

            <!-- Show blog posts -->
            <% blogs.forEach(post=> { %>
                <article class="post-container">
                   
                    <div>
                        <iframe 
            src="<%= post.url %>" 
            title="YouTube video player"
            style="display: block; width: 100%; height: auto; border: none; aspect-ratio: 16/9; margin: 0 auto" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
                    </div>
                    <h3 style="font-family: 'Libre Baskerville', serif; font-size: 26px; font-weight: 600; color: #0b6b94; margin-top: 15px; margin-bottom: 8px;">
                        <%= post.title %>
                    </h3>
                  
                    <p style="font-family: 'Roboto', serif; font-size: 20px; color: #555; line-height: 1.6; margin-bottom: 4px; font-style: italic;">
                        <%= post.content %>
                    </p>

                    <!-- <form action="/delete/<%= post.id %>" method="post"
                        onsubmit="return confirm('Do you really want to delete this post?');">
                        <button class="outline primary" type="submit">Delete</button>
                    </form> -->
                </article>
                <% }); %>
    </main>
</body>


<!-- Footer -->
<footer style="border: 1px solid #ccc; padding: 15px; background-color: #f9f9f9; font-size: 12px; text-align: justify;">
    <p>&copy; Disclaimer: This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.</p>
</footer>

</html>