<!DOCTYPE html>
<html lang="en" data-theme="light dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Square+Peg&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B1B2C6VEPY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B1B2C6VEPY');
</script>
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Create a new post headline -->
        <div class="welcome-container">
          <h1 style="font-family: 'Libre Baskerville', serif; font-size: 26px; color: #C52F21; text-align: center; margin-top: 20px; margin-bottom: 20px;">Recommend your favourite Pilates videos!</h1>

        </div>

        <!-- Form to submit a new post -->
        <div class="create-post-container">
            <form method="post">
                <fieldset>
                  <label>
                    Title
                    <input name="title" placeholder="Workout Title (length+focus area+level)..."/>
                  </label>
                </fieldset>

                <fieldset>
                  <label>
                    Youtube link
                    <input name="url" placeholder="https://www.youtube.com/embed/..."/>
                  </label>
                </fieldset>

                <fieldset>
                  <label>
                    Level
                    <select id="level" name="level">
                      <% for (const key in options.level) { %>
                        <option value="<%= key %>"><%= options.level[key] %></option>
                        <% } %>
                    </select>
                  </label>
                </fieldset>

                <fieldset>
                  <label>
                    Duration (Minutes)
                    <input name="duration" value="10" type="number" placeholder="10"/>
                  </label>
                </fieldset>


                <fieldset>
                  <label>
                    Target Area
                    <select id="targetArea" name="targetArea">
                      <% for (const key in options.targetArea) { %>
                        <option value="<%= key %>"><%= options.targetArea[key] %></option>
                        <% } %>
                    </select>
                  </label>
                </fieldset>

                <label>
                Content
                <textarea name="content" placeholder="Post-workout feeling: [e.g., Energized, Relaxed, etc.] | Special features: No verbal instructions, low-intensity, beginner-friendly..." ></textarea>
                </label>
              
                <input
                  type="submit"
                  value=" Create post to recommend"
                />
              </form>
        </div>

        <!-- Back to homepage -->
        <div class="cancel-create-post">
          <a href="/">Cancel! Take me back to homepage!</a>
        </div>
        
    </main>
</body>
</html>